$primary-color: "#ff5f7f9";
$text-color: #333;
$background-color: #f4f4f4;
$border-color : #bdbdbd94;
$font-white: #fff;
$font-black: #000;
$font-gray: #3b3b3b;


$font-main: 'Geist Variable', sans-serif;
$font-sub : 'Poppins', sans-serif;