.circle-con {
  display: flex;
  align-items: center;
  justify-content: center;

  .circle-design {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 1;
  }

  img.circle-design-tick {
    width: 30px;
  }

  .completed {
    background-color: #0a85cb;
    border: 3px solid #0a85cb;
  }

  .Incompleted {
    border: 3px solid #858485;
    color: #858485;
  }

  .pending {
    border: 3px solid #e42b33;
    background-color: #e42b33;
    color: #fff;
  }

  .completed:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    padding: 3px 122px;
    background-color: #0a85cb;
    width: 10px;
  }

  .pending:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    padding: 3px 122px;
    background-color: #858485;
    width: 10px;
  }
}
